.bets-tbl {
    -fx-background-color: transparent;
}

.bets-tbl .column-header-background {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -fx-disabled-text;
    -fx-padding: 15px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 7px 7px 0px 0px;
}

.bets-tbl .column-header {
    -fx-background-color: transparent;
}

.bets-tbl .table-row-cell {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #EBEBEB;
    -fx-background-color: #ffffff;
    -fx-cell-size: 58px;
}

.bets-tbl .table-cell {
    -fx-border-width: 0;
}

.bets-tbl .table-column {
    -fx-alignment: CENTER;
    -fx-border-size: 0;
}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #F4F6F6;
}

.table-row-cell:selected {
   -fx-background-color: steelblue;
}

.table-row-cell:selected .text {
       -fx-fill: #000000;
}

.bets-tbl .virtual-flow .scroll-bar:vertical,
.bets-tbl .virtual-flow .scroll-bar:vertical .track,
.bets-tbl .virtual-flow .scroll-bar:vertical .track-background,
.bets-tbl .virtual-flow .scroll-bar:horizontal,
.bets-tbl .virtual-flow .scroll-bar:horizontal .track,
.bets-tbl .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.bets-tbl .virtual-flow .scroll-bar .increment-button,
.bets-tbl .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.bets-tbl .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}

.bets-tbl .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}