.sidebar {
    -fx-background-color: -fx-dark-grey;
}

.sidebar * {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.sidebar-btn {
    -fx-alignment: center-left;
    -fx-padding: 12px 30px;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.sidebar-btn:hover {
    -fx-background-color: rgba(179, 207, 0, .2);
}

.sidebar-btn:focused {
    -fx-background-color: -fx-green1;
}

.logo-wrapper {
    -fx-padding: 15px 0;
}

.logout-btn {
   -fx-alignment: center;
   -fx-background-radius: 0px;
   -fx-padding: 12px 30px;
   -fx-background-color: #E74C3C;
   -fx-cursor: hand;
}

.content {
    -fx-background-color: #EBEBEB;
}