#exit_button
{
    -fx-background-color: #ff3d3d;
    -fx-background-radius: 0 0 0 0;
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-pref-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-pref-height: 50;
    -fx-font-size: 20;
}

#exit_button:hover
{
    -fx-background-color: #ff0000;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 10
}

#exit_button:pressed
{
    -fx-background-color: #a80000;
    -fx-background-radius: 0 0 0 0;
}