.btn, .btn {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: #ffffff;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-pref-height: 30px;
}

.btn:hover {
    -fx-text-fill: #ffffff;
}

.btn > .glyph-icon {
    -fx-fill: white;
}

.localeBtn {
    -fx-min-width: 70px;
    -fx-max-width: 70px;
    -fx-pref-width: 70px;
    -fx-cursor: hand;
}

.localeBtn:hover {
    -fx-text-fill: -fx-green1;
}

.selectedLang, .selectedLang:focused {
    -fx-text-fill: #11AA00;
    -fx-underline: true;
}

.edgeBtn {
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-pref-width: 40px;
}

.maximizeBtn:hover, .minimizeBtn:hover {
    -fx-background-color: #404040;
}

.closeBtn:hover {
    -fx-background-color: #CB4335;
}

.navigationBtn:hover .glyph-icon {
    -fx-fill: #404040;
}


/* ---------- User bar ---------- */


.userBar {
    -fx-padding: 0px 20px;

}

.userBtn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.userBtnItem {
    -fx-cursor: hand;
}

.loginBtn {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-green1;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.loginBtn:hover {
    -fx-text-fill: -fx-green2;
}

.registerBtn {
    -fx-background-color: -fx-green1;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.registerBtn:hover {
    -fx-background-color: -fx-green2;
}


