.overview-card {
    -fx-pref-width: 200px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
}

.card-icon-label {
    -fx-background-color: rgba(179, 207, 0, .2);
    -fx-background-radius: 50%;
}

.card-number {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.card-text {
    -fx-text-fill: #6b6b6b;
}
