<?xml version="1.0" encoding="UTF-8"?>
<config>
  <businessLogic local="false">
	<businessLogicNode>0.0.0.0</businessLogicNode>
	<businessLogicPort>8080</businessLogicPort>
	<businessLogicName>Bets</businessLogicName>
  </businessLogic>
  <dataAccess local="true">
	<dataAccessNode>0.0.0.0</dataAccessNode>
	<dataAccessPort>6136</dataAccessPort>
	<dataBaseFilename>db/bets.temp</dataBaseFilename>
	<dataBaseOpenMode>initialize</dataBaseOpenMode>
	<dataBaseUser>admin</dataBaseUser>
	<dataBasePassword>admin</dataBasePassword>
  </dataAccess>
  <locale>en</locale>
</config>
